<% provide(:title, "About") %>
<br>
<body class="about">
    <div class="container"> 
        <div class="jumbotron myBackground">
            <div class="row">
                <div class="col-sm-3">
                    <center><%= image_tag("NOAA_160px.png") %></center>
                    <br><br><br>
                    <center><a href="https://twitter.com/intent/tweet?screen_name=NOAA&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">
                    Tweet to @NOAA</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></center>
                </div>
                <div class="col-sm-9">
                    <h2>NOAA</h2>
                    <br>
                    <p>NOAA is an agency that enriches life through science. Our reach goes from the surface of the sun to the depths of the ocean 
                    floor as we work to keep citizens informed of the changing environment around them. 
                    From daily weather forecasts, severe storm warnings, and climate monitoring to fisheries management, coastal restoration and supporting 
                    marine commerce, NOAA’s products and services support economic vitality and affect more than one-third of America’s gross domestic product. 
                    NOAA’s dedicated scientists use cutting-edge research and high-tech instrumentation to provide citizens, planners, emergency managers and other 
                    decision makers with reliable information they need when they need it.</p>
                    <br>
                    <ul class="social">
                    <center>
                        <li><a href="https://twitter.com/NOAA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a></li>
                        <li><a href="https://www.facebook.com/NOAA/" class="fa fa-facebook"></a></li>  
                        <li><a href="https://www.youtube.com/channel/UCe9IxQeBttZIYl5c43ycf9g" class="fa fa-youtube"></a></li>
                        <li><a href="https://uk.linkedin.com/company/noaa" class="fa fa-linkedin"></a></li>
                        <li><a href="https://www.instagram.com/noaa/?hl=en" class="fa fa-instagram"></a></li>
                    </center>
                     </ul>
                </div>
            </div>
        </div>
    </div>
<br>
    <div class="container"> 
        <div class="jumbotron myBackground">
            <div class="row">
                <div class="col-sm-3">
                    <center><%= image_tag("me.png") %></center>
                    <br>
                    <center><button class="btn btn-hero btn-lg zoomIn animated" onclick="window.location.href='#'"><span>Send Message</span></button></center><br>
                    
                </div>
                <div class="col-sm-9">
                    <h2>Our website developer</h2>
                    <br>
                    <p>Matteo De Michele is an Italian atmospheric scientist and inventor noted for tornado, tropical cyclone, and weather radar research.
                    Matteo has authored and co-authored many scientific publications relating to hurricane and tornado dynamics and weather radar technology 
                    including two articles in Science, articles in the Journal of Atmospheric Sciences, Monthly Weather Review, Journal of Atmospheric and Oceanic 
                    Technology, Weather and Forecasting, and others.
                    His scientific work and DOW projects have been sponsored by NSF, as well as National Oceanic and Atmospheric Administration (NOAA), the United 
                    States Forest Service (USFS), the United States Department of Energy (DOE), the Federal Aviation Administration (FAA), and other agencies of the 
                    U.S. government, as well as by The Discovery Channel, and the National Geographic Society, among others.</p>
                    <p>Matteo is currently studying for a master degree in Information Technology at the University of Aberdeen, UK. The doors of his office, room 209,
                    are always opened to everyone.</p>
                    <iframe width="750" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ1xeWcQUOhEgRkdvXixVYcGU&key=AIzaSyDpb_MLSrFyo-HndhyFRZDRimX6McHNmYw" allowfullscreen></iframe>                
                    <div id="openweathermap-widget-11"></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
<br><br><br><br>
</body>