<!-- This is the view page for the "About" link. It features a brief description of what the site entails and links to 
internal pages.--> 

<% provide(:title, "About") %>
<body class="about">
    <h1>About us</h1>
    <br><br>
    <h2>NOAA</h2>
    <br>
        <div class="row">
            <div class="col-sm-3">
                <%= image_tag("NOAA_160px.png") %>
            </div>
            <div class="col-sm-9">
                <p>NOAA is an agency that enriches life through science. Our reach goes from the surface of the sun to the depths of the ocean 
                floor as we work to keep citizens informed of the changing environment around them. 
                From daily weather forecasts, severe storm warnings, and climate monitoring to fisheries management, coastal restoration and supporting 
                marine commerce, NOAA’s products and services support economic vitality and affect more than one-third of America’s gross domestic product. 
                NOAA’s dedicated scientists use cutting-edge research and high-tech instrumentation to provide citizens, planners, emergency managers and other 
                decision makers with reliable information they need when they need it.</p>
            </div>
        </div>
        <br><br><br><br>
        <h2>Our website developer</h2>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <%= image_tag("me.png") %>
            </div>
            <div class="col-sm-9">
                <p>Matteo De Michele is an Italian atmospheric scientist and inventor noted for tornado, tropical cyclone, and weather radar research.
                Matteo has authored and co-authored many scientific publications relating to hurricane and tornado dynamics and weather radar technology 
                including two articles in Science, articles in the Journal of Atmospheric Sciences, Monthly Weather Review, Journal of Atmospheric and Oceanic 
                Technology, Weather and Forecasting, and others.
                He participated in both the VORTEX projects, doing early deployments of the first scraped together DOW radars for VORTEX1 and served 
                on the steering committee and was a principal investigator (PI) for VORTEX2, the field research phase of which occurred from 2009-2010. 
                De Michele's team observed the top two fastest wind events and two contenders for the largest tornado circulations.
                His scientific work and DOW projects have been sponsored by NSF, as well as National Oceanic and Atmospheric Administration (NOAA), the United 
                States Forest Service (USFS), the United States Department of Energy (DOE), the Federal Aviation Administration (FAA), and other agencies of the 
                U.S. government, as well as by The Discovery Channel, and the National Geographic Society, among others.</p><br><br><br><br>
            </div>
        </div>
        
</body>