<!-- This is the view page for the "Contact" link. It features a link 
to the contact page of the earthquake.usgs.gov website. --> 

<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  For further information on earthquakes and appropriate contacts, please click
  <a href="https://earthquake.usgs.gov/contactus/">here</a>.
</p>