<!-- This is the view page for the "Contact" link. It features a link 
to the contact page of the earthquake.usgs.gov website. --> 

<% provide(:title, "Contact") %>
<body class="contact">
  
  <h1>Contact</h1>
    <div class="container"> 
      <div class="jumbotron myBackground2">
        <center><h2>Do you have a Twitter account? Tweet them straight on their Twitter profile!.</h2></center>
        <center><a href="https://twitter.com/intent/tweet?screen_name=NOAA&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">
        Tweet to @NOAA</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></center>
        <br>
        <center><a class="twitter-timeline" data-lang="en" data-width="650" data-height="500" href="https://twitter.com/NOAA?ref_src=twsrc%5Etfw">Tweets by NOAA</a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></center>
      </div>
    </div>
    
      <br>

    <div class="container"> 
      <div class="jumbotron myBackground3">
        <div id="fb-root"></div>
        <center><p>Or login with your facebook account and let us know what do you think about our app!</p></center>
        <center><script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.11';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-comments" data-href="https://www.facebook.com/NOAA/" data-numposts="5"></div></center>
      </div>
    </div>

      <br><br><br><br>
      
</body>