<!-- This is the view page for the "Donate" link. It features links to charity websites and their images. --> 

<% provide(:title, "Donate") %>

<h1>Donate</h1>
<p>
  <center>
    If you would like to help those affected by earthquakes, please use any of the links 
    below to donate what you can to give aid to those who need it. <br><br>
  </center>
</p>  
  
<div class="img">
  <%= link_to image_tag("unicef.png", alt: "Unicef logo"), 'https://www.unicef.org.uk/' %><br><br>
  <%= link_to image_tag("DEC.png", alt: "DEC logo"), 'https://www.dec.org.uk/' %><br><br>
  <%= link_to image_tag("Savethechildren.png", alt: "Save the Children logo"), 'https://www.savethechildren.org.uk/' %><br>
</div>