<!-- This is the content of the home page view using HTML and Bootstrap.-->

<div class="center_jumbotron">
  <br><br>
  <h1>THE TORNADOS APP</h1>
  <h2>This is the home page for the Earthquake Data Analysis Application. 
      Sign up and login to navigate the site and view earthquake data from around the world.</h2>
  <center><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-warning" %></center>
  <br>
</div>





