<!-- import highchart.js -->
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<% provide(:title, "Feed") %>
<body class="time">
  <h2>Tornadoes - Annual 2016 - part 1</h2>
  <p>[Source: NOAA National Centers for Environmental Information, State of the Climate: Tornadoes for Annual 2016, published online January 2017, 
     retrieved on November 25, 2017 from https://www.ncdc.noaa.gov/sotc/tornadoes/201613].</p>
  <p>Similar to the previous four years, tornado activity across the U.S. during 2016 was below average. 
     During January-August, there were 843 confirmed tornado reports, with 142 reports still pending for September-December. 
     This brings the 2016 preliminary tornado count to 985, with the final count expected to be lower. 
     As with most years, there were several large and destructive tornado and severe weather outbreaks during 2016.</p><br>
  <p>The following charts provide a graphical representation of this trend in 2016.</p><br>
  <!-- chart 1: tornadoes/days -->
  <div class="jumbotron myBackground4">
    <p><b>2016 US tornadoes - daily distribution</b></p><br>
    <%= line_chart Tornado.group_by_day(:date).count, xtitle: "Date", ytitle: "Number of tornadoes" %>
  </div>
  <br>
  <p>There were 17 tornado-related fatalities in 2016, much lower than the long-term average. 
     The deadliest single tornado of the year occurred in Louisiana and Mississippi on February 23rd, when an EF-3 killed six people. 
     Another EF-3 occurred on November 29th in Alabama, resulting in five fatalities. May was an active month with 216 confirmed tornadoes. 
     Of those, there were 2 EF-4's, one reported on May 9th and May 25th. </p>
  <!-- chart 2: tornadoes/months -->
  <div class="jumbotron myBackground4">
    <p><b>2016 US tornadoes - monthly distribution</b></p><br>
    <%= line_chart Tornado.group_by_month(:date).count, xtitle: "Month", ytitle: "Number of Tornadoes" %>
  </div>
  <br>
  <!-- Chart 3: million$loss/time-->
  <p>The deadliest tornado outbreaks of the year occurred in late February and in November, 
  with strong tornadoes striking across the South, killing seven and five people, respectively. 
  In 2016, there were eight severe weather outbreaks that caused damages exceeding one billion U.S. dollars.</p>
  <p>Details of the global costs caused by tornadoes in 2016 are displayed in the chart below.</p>
  <br>
  <div class="jumbotron myBackground4">
    <p><b>2016 US tornadoes - Overall cost of damages</b></p><br>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <%= content_tag "div", id: "items", data: {url: Tornado.order('date ASC') } do %>
    <% end %>
  </div>
  <br>
</body>

