<% provide(:title, @user.name) %>
<body class="show">
  <h1><%= @user.name %></h1>
  <div class="row">
      <div class="col-md-6 col-md-offset-3">      
        <%= gravatar_for @user %>
        <p>Dear <%= @user.name %>,</p>
        <p>you registered to the TORNADO app using <%= @user.email %> email</p>
      </div>
  </div>
</body>
<br><br><br>
