<% provide(:title, "twitter") %>
<body class="twitter">
    <div class="container"> 
        <div class="jumbotron myBackground">
            <center><a class="twitter-timeline" data-width="800" data-height="500" data-theme="light" 
            data-link-color="#2B7BB9" href="https://twitter.com/USTornadoes?ref_src=twsrc%5Etfw">Tweets by USTornadoes</a> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></center>
            <br>
            <a href="https://twitter.com/intent/tweet?screen_name=ustornadoes&ref_src=twsrc%5Etfw" class="twitter-mention-button" 
            data-show-count="false">Tweet to @ustornadoes</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</body>
<br><br><br>

