<footer class="footer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <br>

    <div class="col-sm-5">
      <small>
        This app uses open data from the <a href="http://www.spc.noaa.gov/wcm/">National Oceanic and Atmosferic Administration</a> website
      </small>
    </div>
    
    <div class="col-sm-2">
      <%= link_to image_tag("NOAA_emblem.png", alt: "NOAA logo"), 'http://www.noaa.gov/' %>
    </div>

    <div class="col-sm-5">
      <ul class="social">
        <center>
        <li><a href="https://twitter.com/NOAA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a></li>
        <li><a href="https://www.facebook.com/NOAA/" class="fa fa-facebook"></a></li>  
        <li><a href="https://www.youtube.com/channel/UCe9IxQeBttZIYl5c43ycf9g" class="fa fa-youtube"></a></li>
        <li><a href="https://uk.linkedin.com/company/noaa" class="fa fa-linkedin"></a></li>
        <li><a href="https://www.instagram.com/noaa/?hl=en" class="fa fa-instagram"></a></li>
        </center>
      </ul>
    </div>
    
</footer>

</div>


<!-- social media links 2 -->

<!--<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FNOAA%2F&width=80&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId" width="80" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>-->
<!--<a href="https://twitter.com/NOAA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="twitter-follow-button" data-show-count="false">Follow @TwitterDev</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<!--<script src="https://apis.google.com/js/platform.js"></script><div class="g-ytsubscribe" data-channel="NOAA" data-layout="default" data-count="default"></div>-->