<footer class="footer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><br>
    <div class="col-sm-5">
      <small>
        This app uses open data from the <a href="http://www.spc.noaa.gov/wcm/">National Oceanic and Atmosferic Administration</a> website
      </small>
    </div>
    <div class="col-sm-2">
      <%= link_to image_tag("NOAA_emblem.png", alt: "NOAA logo"), 'http://www.noaa.gov/' %>
    </div>
    <div class="col-sm-5">
      <ul class="social">
        <li><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fpeaceful-peak-81480.herokuapp.com%2Fcontact&layout=button&size=large&mobile_iframe=true&width=73&height=28&appId" width="73" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></li>
        <li><iframe src="https://platform.twitter.com/widgets/tweet_button.html?size=l&url=https%3A%2F%2Fpeaceful-peak-81480.herokuapp.com%2F" width="140" height="28" title="Twitter Tweet Button" style="border: 0; overflow: hidden;"></iframe></li>
      </ul>
    </div>
</footer>
