<!-- A partial file that links to the application layout file for the footer class
of the website's pages (the footer text at the bottom of the pages). -->

<footer class="footer">
  <small>
    This app uses open data from the <a href="https://earthquake.usgs.gov/">The Earthquake Hazard Program website.</a>
    </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://earthquake.usgs.gov/">News</a></li>
    </ul>
  </nav>
</footer>